<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingok.station.mapper.greenList.GreenPassAppointmentMapper">

    <resultMap type="com.pingok.station.domain.greenList.GreenPassAppointment" id="GreenPassAppointmentResult">
        <id     property="id"      column="TransId"       />
        <result property="Phone"  column="Phone"   />
        <result property="ApointTime"  column="ApointTime"   />
        <result property="VehicleClass"  column="VehicleClass"   />
        <result property="PlateNum"  column="PlateNum"   />
        <result property="PlateColor"  column="PlateColor"   />
        <result property="StartTransYMDH"  column="StartTransYMDH"   />
        <result property="SubmitTime"  column="SubmitTime"   />
        <result property="StartDistrictId"  column="StartDistrictId"   />
        <result property="EndDistrictId"  column="EndDistrictId"   />
    </resultMap>
    <insert id="insertGreenPass" parameterType="com.pingok.station.domain.greenList.GreenPassAppointment">
        insert into GreenPassApointmnt(
        <if test="Phone != null ">Phone,</if>
        <if test="ApointTime != null ">ApointTime,</if>
        <if test="VehicleClass != null ">VehicleClass,</if>
        <if test="PlateNum != null ">PlateNum,</if>
        <if test="PlateColor != null ">PlateColor,</if>
        <if test="StartTransYMDH != null ">StartTransYMDH,</if>
        <if test="SubmitTime != null ">SubmitTime,</if>
        <if test="StartDistrictId != null ">StartDistrictId,</if>
        <if test="EndDistrictId != null ">EndDistrictId,</if>
        Id
        )values(
        <if test="Phone != null ">#{Phone},</if>
        <if test="ApointTime != null ">#{ApointTime},</if>
        <if test="VehicleClass != null ">#{VehicleClass},</if>
        <if test="PlateNum != null ">#{PlateNum},</if>
        <if test="PlateColor != null ">#{PlateColor},</if>
        <if test="StartTransYMDH != null ">#{StartTransYMDH},</if>
        <if test="SubmitTime != null ">#{SubmitTime},</if>
        <if test="StartDistrictId != null ">#{StartDistrictId},</if>
        <if test="EndDistrictId != null ">#{EndDistrictId},</if>
        #{Id}
        )
    </insert>
    <delete id="deleteAll">
        delete from GreenPassApointmnt
    </delete>
</mapper>