<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingok.datacenter.mapper.trans.TblExTransPassMapper">

    <resultMap type="com.pingok.datacenter.domain.trans.TblExTransPass" id="TblExTransPassResult">
        <id     property="id"  column="id"   />
        <result property="passId"  column="pass_id"   />
        <result property="transTime"  column="trans_time"   />
        <result property="cpcCardId"  column="cpc_card_id"   />
        <result property="cpcElec"  column="cpc_elec"   />
        <result property="cpcCardPlate"  column="cpc_card_plate"   />
        <result property="cpcCardColor"  column="cpc_card_color"   />
        <result property="cpcCardVeh"  column="cpc_card_veh"   />
        <result property="cpcCardVehStatus"  column="cpc_card_veh_status"   />
        <result property="cpcCardEnNet"  column="cpc_card_en_net"   />
        <result property="cpcCardEnTime"  column="cpc_card_en_time"   />
        <result property="cpcCardEnStation"  column="cpc_card_en_station"   />
        <result property="cpcCardProCount"  column="cpc_card_pro_count"   />
        <result property="vehLwh"  column="veh_lwh"   />
        <result property="etcCardId"  column="etc_card_id"   />
        <result property="etcCardVer"  column="etc_card_ver"   />
        <result property="etcCardNet"  column="etc_card_net"   />
        <result property="etcCardProvider"  column="etc_card_provider"   />
        <result property="etcCardPlate"  column="etc_card_plate"   />
        <result property="etcCardColor"  column="etc_card_color"   />
        <result property="etcCardVeh"  column="etc_card_veh"   />
        <result property="etcCardType"  column="etc_card_type"   />
        <result property="etcCardEnNet"  column="etc_card_en_net"   />
        <result property="etcCardEnTime"  column="etc_card_en_time"   />
        <result property="etcCardEnStation"  column="etc_card_en_station"   />
        <result property="obuId"  column="obu_id"   />
        <result property="obuVer"  column="obu_ver"   />
        <result property="obuProvider"  column="obu_provider"   />
        <result property="obuNoCardTimes"  column="obu_no_card_times"   />
        <result property="obuSuccTimes"  column="obu_succ_times"   />
        <result property="obuLocalSuccTimes"  column="obu_local_succ_times"   />
        <result property="obuPlate"  column="obu_plate"   />
        <result property="obuColor"  column="obu_color"   />
        <result property="obuVeh"  column="obu_veh"   />
        <result property="obuEnNet"  column="obu_en_net"   />
        <result property="obuEnTime"  column="obu_en_time"   />
        <result property="obuEnStation"  column="obu_en_station"   />
        <result property="obuProCount"  column="obu_pro_count"   />
        <result property="balance"  column="balance"   />
        <result property="transNo"  column="trans_no"   />
        <result property="terminalTransId"  column="terminal_trans_id"   />
        <result property="mac"  column="mac"   />
        <result property="tac"  column="tac"   />
        <result property="usedTime"  column="used_time"   />
        <result property="paperEnNet"  column="paper_en_net"   />
        <result property="paperEnStation"  column="paper_en_station"   />
    </resultMap>

    <insert id="insertExTransPass" parameterType="com.pingok.datacenter.domain.trans.TblExTransPass">
        insert into ${tableName}(
            <if test="passId != null ">pass_id,</if>
            <if test="transTime != null ">trans_time,</if>
            <if test="cpcCardId != null ">cpc_card_id,</if>
            <if test="cpcElec != null ">cpc_elec,</if>
            <if test="cpcCardPlate != null ">cpc_card_plate,</if>
            <if test="cpcCardColor != null ">cpc_card_color,</if>
            <if test="cpcCardVeh != null ">cpc_card_veh,</if>
            <if test="cpcCardVehStatus != null ">cpc_card_veh_status,</if>
            <if test="cpcCardEnNet != null ">cpc_card_en_net,</if>
            <if test="cpcCardEnTime != null ">cpc_card_en_time,</if>
            <if test="cpcCardEnStation != null ">cpc_card_en_station,</if>
            <if test="cpcCardProCount != null ">cpc_card_pro_count,</if>
            <if test="vehLwh != null ">veh_lwh,</if>
            <if test="etcCardId != null ">etc_card_id,</if>
            <if test="etcCardVer != null ">etc_card_ver,</if>
            <if test="etcCardNet != null ">etc_card_net,</if>
            <if test="etcCardProvider != null ">etc_card_provider,</if>
            <if test="etcCardPlate != null ">etc_card_plate,</if>
            <if test="etcCardColor != null ">etc_card_color,</if>
            <if test="etcCardVeh != null ">etc_card_veh,</if>
            <if test="etcCardType != null ">etc_card_type,</if>
            <if test="etcCardEnNet != null ">etc_card_en_net,</if>
            <if test="etcCardEnTime != null ">etc_card_en_time,</if>
            <if test="etcCardEnStation != null ">etc_card_en_station,</if>
            <if test="obuId != null ">obu_id,</if>
            <if test="obuVer != null ">obu_ver,</if>
            <if test="obuProvider != null ">obu_provider,</if>
            <if test="obuNoCardTimes != null ">obu_no_card_times,</if>
            <if test="obuSuccTimes != null ">obu_succ_times,</if>
            <if test="obuLocalSuccTimes != null ">obu_local_succ_times,</if>
            <if test="obuPlate != null ">obu_plate,</if>
            <if test="obuColor != null ">obu_color,</if>
            <if test="obuVeh != null ">obu_veh,</if>
            <if test="obuEnNet != null ">obu_en_net,</if>
            <if test="obuEnTime != null ">obu_en_time,</if>
            <if test="obuEnStation != null ">obu_en_station,</if>
            <if test="obuProCount != null ">obu_pro_count,</if>
            <if test="balance != null ">balance,</if>
            <if test="transNo != null ">trans_no,</if>
            <if test="terminalTransId != null ">terminal_trans_id,</if>
            <if test="mac != null ">mac,</if>
            <if test="tac != null ">tac,</if>
            <if test="usedTime != null ">used_time,</if>
            <if test="paperEnNet != null ">paper_en_net,</if>
            <if test="paperEnStation != null ">paper_en_station,</if>
            id
        )values(
            <if test="passId != null ">#{passId},</if>
            <if test="transTime != null ">#{transTime},</if>
            <if test="cpcCardId != null ">#{cpcCardId},</if>
            <if test="cpcElec != null ">#{cpcElec},</if>
            <if test="cpcCardPlate != null ">#{cpcCardPlate},</if>
            <if test="cpcCardColor != null ">#{cpcCardColor},</if>
            <if test="cpcCardVeh != null ">#{cpcCardVeh},</if>
            <if test="cpcCardVehStatus != null ">#{cpcCardVehStatus},</if>
            <if test="cpcCardEnNet != null ">#{cpcCardEnNet},</if>
            <if test="cpcCardEnTime != null ">#{cpcCardEnTime},</if>
            <if test="cpcCardEnStation != null ">#{cpcCardEnStation},</if>
            <if test="cpcCardProCount != null ">#{cpcCardProCount},</if>
            <if test="vehLwh != null ">#{vehLwh},</if>
            <if test="etcCardId != null ">#{etcCardId},</if>
            <if test="etcCardVer != null ">#{etcCardVer},</if>
            <if test="etcCardNet != null ">#{etcCardNet},</if>
            <if test="etcCardProvider != null ">#{etcCardProvider},</if>
            <if test="etcCardPlate != null ">#{etcCardPlate},</if>
            <if test="etcCardColor != null ">#{etcCardColor},</if>
            <if test="etcCardVeh != null ">#{etcCardVeh},</if>
            <if test="etcCardType != null ">#{etcCardType},</if>
            <if test="etcCardEnNet != null ">#{etcCardEnNet},</if>
            <if test="etcCardEnTime != null ">#{etcCardEnTime},</if>
            <if test="etcCardEnStation != null ">#{etcCardEnStation},</if>
            <if test="obuId != null ">#{obuId},</if>
            <if test="obuVer != null ">#{obuVer},</if>
            <if test="obuProvider != null ">#{obuProvider},</if>
            <if test="obuNoCardTimes != null ">#{obuNoCardTimes},</if>
            <if test="obuSuccTimes != null ">#{obuSuccTimes},</if>
            <if test="obuLocalSuccTimes != null ">#{obuLocalSuccTimes},</if>
            <if test="obuPlate != null ">#{obuPlate},</if>
            <if test="obuColor != null ">#{obuColor},</if>
            <if test="obuVeh != null ">#{obuVeh},</if>
            <if test="obuEnNet != null ">#{obuEnNet},</if>
            <if test="obuEnTime != null ">#{obuEnTime},</if>
            <if test="obuEnStation != null ">#{obuEnStation},</if>
            <if test="obuProCount != null ">#{obuProCount},</if>
            <if test="balance != null ">#{balance},</if>
            <if test="transNo != null ">#{transNo},</if>
            <if test="terminalTransId != null ">#{terminalTransId},</if>
            <if test="mac != null ">#{mac},</if>
            <if test="tac != null ">#{tac},</if>
            <if test="usedTime != null ">#{usedTime},</if>
            <if test="paperEnNet != null ">#{paperEnNet},</if>
            <if test="paperEnStation != null ">#{paperEnStation},</if>
            #{id}
        )
    </insert>
</mapper>